.forgotPassword-form-content {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.forgotPassword-form-content p {
  color: #373f41;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
}
.forgotPassword-form-content span {
  margin: 0;
  font-size: 1.2rem;
  color: #515151;
  font-weight: 500;
}
#input-email-forgot-password {
  height: 1.2rem;
  width: 18.2rem;
}
#input-email-forgot-password::placeholder {
  font-size: 0.9rem;
}
.button-div-forgotPassword {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.button-div-forgotPassword p {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
