.forgotPassword-form-content {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

#input-email-forgot-password {
  width: 18.2rem;
}

.button-div-forgotPassword {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.button-div-forgotPassword p {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
