.dynamic-field-module-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  .dynamic-field-module-header-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px solid #c5ccd4;
    align-items: center;
    padding: 5px 15px;
  }
  .dynamic-page-field-module-body-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 20px;
    padding: 10px;
    .dynamic-page-field-module-field-wrapper {
      display: flex;
      width: 100%;
      align-items: center;
      position: relative;
    }
  }
}
