* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}
body {
  background: #f1f4f6;
  font-family: "Segoe UI", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  font-size: 14px;
}
li {
  list-style: none;
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label {
  color: #573e2d;
  font-weight: 500;
}
.icon-wrapper {
  height: 34px;
  width: 34px;
  cursor: pointer;
  display: flex;
  position: absolute;
  transition: all 500ms ease;

  top: 77px;
  left: 160px;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: rgb(9 30 66 / 8%) 0px 0px 0px 1px,
    rgb(9 30 66 / 8%) 0px 2px 4px 1px;
  z-index: 10;
}
.masters-layout-section {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.masters-main-content-section {
  height: 100%;
  /* flex-grow: 1; */
  width: 100%;
  min-width: calc(100vw - 390px);
  max-width: calc(100vw - 250px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgb(9 30 66 / 8%) 0px 0px 0px 1px,
    rgb(9 30 66 / 8%) 0px 2px 4px 1px;
  transition: all 500ms;
}

.close-icon-wrapper {
  height: 34px;
  width: 34px;
  cursor: pointer;
  display: flex;
  position: absolute;

  transition: all 500ms ease;
  top: 77px;
  left: 23px;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: rgb(9 30 66 / 8%) 0px 0px 0px 1px,
    rgb(9 30 66 / 8%) 0px 2px 4px 1px;
  z-index: 10;
}
.children-wrapper {
  flex-grow: 1;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #f1f4f6;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE 10+ */
}
.children-wrapper::-webkit-scrollbar {
  display: none !important;
}
/* For WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  width: 8px; /* Adjust the width as per your preference */
  background-color: #8888882f;
}

*::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}
.export-import-header-master-div {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.super-app-theme--header {
  background-color: "rgba(255, 7, 0, 0.55)";
}

.custom-datagrid .MuiDataGrid-columnHeader {
  background-color: #e6effc;
  color: blue;
  font-size: 13px; /* background-color: #f1f1fa; */
}
